<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Declaração do tipo de documento HTML5 -->
    <meta charset="UTF-8">
    <!-- Define a codificação de caracteres para UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Configura o viewport para garantir a responsividade em dispositivos móveis -->
    <link rel="icon" type="image/png" href="../../static/image/favicon.png">
    <!-- Define o ícone exibido na aba do navegador -->
    <title>Micro Bancário: Gestão Rápida e Simples</title>
    <!-- Define o título da página exibido na aba do navegador -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- Inclui o arquivo CSS externo para estilização da página -->
</head>
<body class="index">
    <!-- Início do corpo da página com a classe "index" para estilização específica -->
    <div class="container">
        <!-- Contêiner principal que centraliza todo o conteúdo da página -->
        <header>
            <!-- Cabeçalho da página, contendo o logo -->
            <img src="../../static/image/logo.png" alt="Logo" class="logo">
            <!-- Imagem do logotipo, com a classe "logo" para estilização -->
        </header>
        <main>
            <!-- Conteúdo principal da página -->
            <div class="image-section">
                <!-- Seção para exibição de imagem com sobreposição de texto -->
                <div class="text-overlay">
                    <!-- Texto sobreposto na imagem principal -->
                    <h2 class="image-title">Bem-vindo ao nosso micro sistema bancário: simples, rápido e feito para você.</h2>
                    <!-- Título da imagem com a classe "image-title" para estilização -->
                    <p class="image-subtitle">Aqui, suas finanças estão a um clique de distância.</p>
                    <!-- Subtítulo da imagem com a classe "image-subtitle" para estilização -->
                    <p class="image-description">Nosso sistema foi desenvolvido para proporcionar a melhor experiência, garantindo praticidade e velocidade em todas as suas operações bancárias. Fácil de usar, com interface intuitiva e suporte dedicado para atender todas as suas necessidades.</p>
                    <!-- Descrição da imagem com a classe "image-description" para estilização -->
                </div>
                <img src="../../static/image/banner.png" alt="Informações" class="informative-image">
                <!-- Imagem informativa principal, com a classe "informative-image" para estilização -->
            </div>
            <div class="login-section">
                <!-- Seção de login do usuário -->
                <h2>LOGIN</h2>
                <!-- Título da seção de login -->
                <form id="loginForm" method="POST" action="/index">
                    <!-- Formulário de login, configurado para enviar dados via método POST -->
                    <label for="loginEmail">EMAIL</label>
                    <!-- Rótulo para o campo de entrada de email -->
                    <input type="email" id="loginEmail" name="username" required>
                    <!-- Campo de entrada para o email, obrigatório -->
                    <label for="loginPassword">SENHA</label>
                    <!-- Rótulo para o campo de entrada de senha -->
                    <input type="password" id="loginPassword" name="password" required>
                    <!-- Campo de entrada para a senha, obrigatório -->
                    <button type="submit">ENTRAR</button>
                    <!-- Botão para submeter o formulário de login -->
                    <button type="button" id="registerBtn">REGISTRAR</button>
                    <!-- Botão para redirecionar para a página de registro -->
                </form>
            </div>
        </main>
    </div>
    <script src="../../static/js/script.js"></script>
    <!-- Inclusão de um arquivo JavaScript externo para funcionalidades adicionais -->
</body>
</html>
